* {
  font-family: "PSL Omyim Pro";
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: #f3dd81;
  text-align: center;
  white-space: pre-line;
  font-size: 48px;
  letter-spacing: .2px;
  font-weight: 400;
}

h1.white {
  color: #fff;
}
