section.banner {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media (orientation: portrait) {
    margin-top: 111px;
  }

  @media (orientation: portrait) and (max-width: 992px) {
    margin-top: 60px;
  }

  .wrapper-text {
    position: absolute;
  }

  img {
    &.banner-desktop {
      width: 100%;
    }

    &.img-text {
      position: absolute;
      transform: scale(0.7);
      &.new {
        left: 30%;
        top: 10%;
      }
    }
  }

  img.banner-mobile {
    display: none;
  }
  @media (max-width: 576px) {
    height: unset;

    .banner-desktop {
      display: none;
    }
    img.banner-mobile {
      display: block;
      width: 100%;
    }
  }
}
