.badge {
  background-color: #fff;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0,0,0, .5);
}
