.button-general {
  background-color: #f37102;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  padding: 5px 40px;
  font-size: 36px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  transition: color 0.45s cubic-bezier(0.3, 0.1, 0.3, 1);
  z-index: 1;
  display: block;

  &:after {
    position: absolute;
    bottom: calc(50% - 217px);
    left: calc(50% - 185px);
    width: 370px;
    height: 370px;
    content: "";
    transition: transform 1s cubic-bezier(0.3, 0.1, 0.3, 1);
    transform: scale(0);
    transform-origin: center;
    background: #002575;
    border-radius: 50%;
    z-index: -1;
  }

  &:hover {
    color: #f37102;
    &:after {
      text-decoration: none;
      transform: scale(1);
    }
  }

  &.shadow {
    box-shadow: 2px 3px 2px #007bdf;
  }
}
