.button-general {
  background-color: #f37102;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  padding: 5px 40px;
  font-size: 36px;

  &.shadow {
    box-shadow: 2px 3px 2px #007bdf;
  }
}
